.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;
  }
  
  .header {
    overflow-y: auto;
  }
  
  .left-pane, .right-pane {
    overflow-y: auto;
  }
  
  .prod-id-input {
    margin-bottom: 1rem;
  }