.list-group-item {
  display: grid;
  grid-template-columns: 10% 20% 10% auto 10% 5%;
  align-items: center;
  padding: 3px;
  border: 1px solid #ddd;
  margin-bottom: 2px;
  font-size: 12px;
}

.descr-text {
  font-size: 0.8em; /* Уменьшенный шрифт для описания */
}

.header {
  font-weight: lighter;
  font-size: 12px;
}

.list-group-item.active {
  
}

.list-group-item .btn {
  margin-left: auto;
}

.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.list-group-item.edit-mode {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.list-group-item.edit-mode .form-group {
  margin-bottom: 5px;
}

.list-group-item.edit-mode .form-buttons {
  grid-column: span 5;
  display: flex;
  justify-content: space-between;
}

.list-group-item.edit-mode .form-buttons .btn {
  margin-left: 0;
}