.tp-page {
  padding: 20px;
}

.page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40vh 50vh;
  grid-template-areas: 
    "tp-list viewer"
    "tp-add  viewer";
  gap: 10px;
}

.tp-list {
  grid-area: tp-list;
  height: 100%; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.tp-add {
  grid-area: tp-add;
}

.viewer {
  grid-area: viewer;
}