.oi-item {
  display: grid;
  grid-template-columns: 5px 1fr 30px;
  gap: 3px;
  align-items: left;
  font-size: 10px;
  background-color: #e1edf9;
  border-bottom: 1px solid white; /* Добавление тонкой белой полосы внизу */
}

.color-bar {
  width: 5px;
  height: 100%;
}

.oi-item-content {
  display: grid;
  grid-template-rows: auto auto;
  gap: 5px;
  align-items: left;
  font-size: 10px;
}

.oi-item-header {
  display: grid;
  grid-template-columns: 1fr 70px 70px 70px 70px;
  align-items: top;
  font-size: 10px;
  justify-content: start; /* Прижимаем элементы к левому краю */
}

.oi-item-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: top;
  font-size: 10px;
}

.oi-item.active {
  background-color: #0D6EFD;
  color: white;
}

.text-danger {
  color: rgb(161, 1, 1);
}

.text-success {
  color: rgb(0, 111, 0);
}

.text-primary {
  color: rgb(2, 93, 173);
}