.list-group-item {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 2fr 40px; /* Пять равных колонок и одна авто */
  grid-template-areas: 
    "num wgName qttPlan qttToOne descr edit";
  align-items: center;
  padding: 3px;
  border: 1px solid #ddd;
  margin-bottom: 2px;
  font-size: 12px;
}

.num {
  grid-area: num;
}

.wgName {
  grid-area: wgName;
}

.qttPlan {
  grid-area: qttPlan;
}

.qttToOne {
  grid-area: qttToOne;
}

.descr {
  grid-area: descr;
}

.edit {
  grid-area: edit;
}

.descr-text {
  font-size: 0.8em; /* Уменьшенный шрифт для описания */
  white-space: nowrap; /* Обрезка текста, чтобы он не переносился на новую строку */
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-group-item .btn {
  margin-left: auto;
}

.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
}