.att-viewer-container {
  display: grid;
  height: 100%;
  grid-template-columns: 30% 70%;
}

.att-explorer {
  border-right: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto; /* Добавляем прокрутку по высоте */
}

.image-viewer {
  padding: 10px;
  overflow-y: auto; /* Добавляем прокрутку по высоте */
}