.header-container {
    display: flex;
    align-items: center;
    height: 200px; /* Высота заголовка 200 пикселей */
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 20px; /* Отступ между меню и заголовком */
  }
  
  .header-title {
    white-space: nowrap; /* Заголовок в одну строку */
    overflow: hidden; /* Обрезка переполненного текста */
    text-overflow: ellipsis; /* Добавление многоточия для переполненного текста */
  }