.main-grid-container {
    height: 100%;
    /* Ограничиваем высоту до высоты экрана */
    overflow: hidden;
    /* Чтобы не было скроллов */
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "prod-list ord-list"
                         "prod-list info";
    border-bottom: 1px solid #ccc;
}

.prod-list {
    grid-area: prod-list;
    border-right: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
}

.ord-list {
    grid-area: ord-list;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
}

.info {
    grid-area: info;
    border-right: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    
}