.wl-item-light-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    "shift date btname tone unname qtt wtime descr"
    "shift eFio btname tone unname qtt wtime descr";
  gap: 2px;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc; /* Add border to the grid container */
}

/* Define grid areas */
.date {
  grid-area: date;
}

.shift {
  grid-area: shift;
  text-align: center; /* Центрирование содержимого по горизонтали */
}

.tone {
  grid-area: tone;
}

.unname {
  grid-area: unname;
}

.qtt {
  grid-area: qtt;
}

.wtime {
  grid-area: wtime;
}

.eFio {
  grid-area: eFio;
}
.descr {
  grid-area: descr;
}
.btname {
  grid-area: btname;
  text-align: center;
}

/* Style for active element */
.wl-item-light-grid.active {
  background-color: #007bff; /* Blue background color */
  color: #fff; /* White text color */
  border-color: #007bff; /* Blue border color */
}